* {
    background-color: aqua;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
}

.score-box > * {
    text-align: center;
}

.choices-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin-top: 60px;
}

.choices-box > * {
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.emoji {
    font-size: 60px;
    margin: 0;
}

.message-box {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 60px;
}